<template>
  <div>
    <header-bar v-if="showNavbar"></header-bar>
    <div :class="containerClass">
      <div class="row">
        <flash></flash>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import AppState from 'stores/app-state-store'

import TreeManager from 'components/tree-manager'
import HeaderBar from 'components/header-bar'
import Login from 'components/login'
import Flash from 'components/flash'
import Selection from 'components/selection'

export default {
  name: 'app',
  data: () => {
    return {
      appState: AppState,
    }
  },
  computed: {
    showNavbar() {
      return !!this.appState.state.user;
    },
    containerClass() {
      var route = this.$route;
      var fluid = route.name === 'tree' || route.name === 'patient'

      return {
        'container-fluid': fluid,
        'container': !fluid,
      };
    },
  },
  components: {
    'header-bar': HeaderBar,
    'tree-manager': TreeManager,
    'flash': Flash,
    'selection': Selection,
    'login': Login,
  },
}
</script>
