<template>
  <div>
    <circlepanel v-if="!moving" v-on:move="startMove($event)" v-bind:key="node._id" v-bind:node="node" v-for="node in openNodes"></circlepanel>
    <div v-if="moving" class="alert alert-info">
      <p class="move-alert">
        Select the new Parent for the node you are moving!
        <a class="btn btn-default" v-on:click="cancelMove"><i class="fa fa-times"></i> Cancel</a>
      </p>
    </div>
  </div>
</template>

<script>
  import TreeStore from 'stores/tree-store'
  import Circlepanel from 'components/circle-panel'

  export default {
    name: 'circlepanelmanager',
    components: {
      'circlepanel': Circlepanel,
    },
    data: () => {
      return {
        treeState: TreeStore.state,
        openNodes: [],
      }
    },
    computed: {
      storeNode() {
        return this.treeState.menuNode;
      },
      moving() {
        return this.treeState.moving;
      },
    },
    methods: {
      startMove(params) {
        TreeStore.startMoving(params);
      },
      cancelMove() {
        TreeStore.cancelMove();
      },
    },
    watch: {
      storeNode: function(newNode) {
        this.openNodes = [];
        if (newNode) {
          this.openNodes.push(newNode);
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
.move-alert {
  line-height: 35px;
  a {
    float: right;
  }
}
</style>
