<template>
  <div>
    <transition appear name="circle-menu">
      <div v-if="node" class="circle-panel-container">
        <nav class="c-circle-menu js-menu" v-on:click.self="deselect()" v-bind:style="{ top: top, left: left }">

          <ul class="c-circle-menu__items">
            <li class="c-circle-menu__item">
              <a class="c-circle-menu__link" v-on:click.stop="toggle()" title="Toggle display of Children">
                <i class="fa fa-lg fa-caret-right"></i>
              </a>
            </li>
            <li class="c-circle-menu__item">
              <a class="c-circle-menu__link" v-on:click.stop="newNode()" title="Insert a new Node after this Node">
                <i class="fa fa-lg fa-plus"></i>
              </a>
            </li>
            <li class="c-circle-menu__item">
              <a class="c-circle-menu__link" v-on:click.stop="moveNode()" title="Move this node to a new Parent">
                <i class="fa fa-lg fa-scissors"></i>
              </a>
            </li>
            <li class="c-circle-menu__item">
              <a class="c-circle-menu__link" v-on:click.stop="clickDelete()" title="Delete this Node">
                <i class="fa fa-lg fa-trash"></i>
              </a>
            </li>
            <li class="c-circle-menu__item">
              <a class="c-circle-menu__link" v-on:click.stop="deselect()" title="Close Menu">
                <i class="fa fa-lg fa-times"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </transition>
    <confirmation v-if="confirmationTitle" type="alert" v-bind:title="confirmationTitle" v-on:cancel="cancelAction()" v-on:confirm="deleteNode()">
      <p>Are you sure you want to delete "{{node.data.name}}" forever?</p>
      <p v-show="node.data.children.length" class="alert alert-danger">
        This will also delete all children of the node!
      </p>
    </confirmation>
  </div>
</template>

<script>
  import TreeStore from 'stores/tree-store'

  import ConfirmationDialog from 'components/confirmation-dialog'

  export default {
    components: {
      'confirmation': ConfirmationDialog,
    },
    name: 'circlepanel',
    data: () => {
      return {
        treeStore: TreeStore,
        confirmationTitle: '',
      }
    },
    props: {
      node: {
        type: Object,
        required: true,
      },
    },
    computed: {
      top() {
        return this.node.x - 7;
      },
      left() {
        // add a few pixels to translate (cause tree is a bit more to the right)
        return this.node.y + 25;
      },
    },
    methods: {
      toggle() {
        this.treeStore.toggleChildNodes(this.node);
      },
      deselect() {
        this.treeStore.selectNode(this.node);
      },
      newNode() {
        // Eventuell braucht der neue Knoten direkt einen Namen, das kann aber die Api aktuell noch nicht!
        this.treeStore.newNode(this.node);
        this.deselect();
      },
      clickDelete() {
        this.confirmationTitle = 'Delete Node?';
      },
      deleteNode() {
        this.treeStore.deleteNode(this.node);
        this.deselect();
      },
      moveNode() {
        var moveNodeId = this.node.data.properties.id;
        var moveNodeParent = this.node.parent.data.properties.id;
        var params = {moveNode: moveNodeId, oldParent: moveNodeParent};
        this.$emit('move', params);
      },
      cancelAction() {
        this.confirmationTitle = '';
      },
    },
  }
</script>

<style lang="scss" scoped>
  $menu-theme-color: rgb(225, 40, 60);
  $menu-item-radius: 17px;
  $spread-radius: 50px;
  $num-items: 5;
  $delay-increment: 0.03s;
  @import "~assets/_circular-menu";
  @import "~assets/_variables";

  .c-circle-menu__link {
    background-color: $node-one-light;
    color: $content-color;
    padding: 5px;
    text-align: center;
    border-radius: 500px;
  }
  nav.c-circle-menu {
    height: 0;
    width: 0;
    transition: left, top;
    transition-duration: 0.5s;
  }

  .circle-menu-enter,
  .circle-menu-leave-active,
  {
    .c-circle-menu .c-circle-menu__item {
      transform: translate(0, 0);
    }
  }
  .circle-menu-leave-active {
    transition-duration: ($num-items + 1) * $delay-increment;
  }

  i {
    padding-top: 5px;
    padding-left: 1px;
  }
</style>
