<template>
  <div class="spaced">
    <div class="col-md-offset-3 col-md-6">
      <h2>404 - That page you requested was not found.</h2>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'error-page',
    components: {
    },
    data: () => {
      return {
      }
    },
    computed: {
    },
  }
</script>
<style lang="scss" scoped>
.spaced {
  padding-top: 70px;
}
</style>
