<template>
  <div>
    <div v-for="message in appState.state.messages" v-bind:class="alertType(message)" class="alert" role="alert">{{message.text}}</div>
  </div>
</template>

<script>
  import AppState from 'stores/app-state-store'

  export default {
    name: 'flash',
    data: () => {
      return {
        appState: AppState,
        messages: AppState.state.messages,
      }
    },
    props: {
    },
    computed: {
    },
    methods: {
      alertType: (message) => {
        return {'alert-info': !message.error, 'alert-danger': message.error};
      },
    },
  }
</script>

<style lang="scss" scoped>
</style>
