<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a v-on:click="resetSelection()" href="#"><i class="fa fa-2x fa-home"></i></a><li>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conditions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
        <h4 class="navbar-text pad-left">{{pageTitle}}
          <small>{{subTitle}}</small>
        </h4>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">{{appState.state.user.name}}</a></li>
          <li><a v-on:click="logout()"><i class="fa fa-2x fa-sign-out"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  import AppState from 'stores/app-state-store'
  import TreeStore from 'stores/tree-store'
  import PatientStore from 'stores/patient-store'

  export default {
    name: 'header-bar',
    data: () => {
      return {
        treeStore: TreeStore.state,
        patientStore: PatientStore.state,
        appState: AppState,
      }
    },
    computed: {
      tree: function() {
        if (this.treeStore.tree) {
          return this.treeStore.tree
        }
        return this.treeStore.tree;
      },
      patient: function() {
        return this.patientStore.chosenPatient;
      },
      pageTitle: function() {
        if (this.tree) {
          return this.tree.name;
        }
        return 'Selection';
      },
      subTitle: function() {
        if (!this.tree) {
          return 'Chose a Tree or a Patient';
        }
        if (this.patient) {
          return 'Patient: ' + this.patient.firstname + ' ' + this.patient.lastname;
        }
        return 'not edited';
      },
    },
    methods: {
      logout() {
        this.appState.logout();
        if (!this.appState.state.user) {
          this.$router.push('login');
        }
      },
      resetSelection() {
        // TODO: maybe ask for confirmation in case of unsaved changes to tree?
        this.appState.resetSelection();
        this.$router.push('/');
      },
    },
  }
</script>

<style lang="scss" scoped>
.pad-left {
  padding-left: 50px;
}
.pad-left small {
  padding-left: 30px;
}
</style>
