<template>
  <div class="panel panel-default" v-if="infoNode">
    <div class="panel-heading">
      <h3 v-if="editing"><input type="text" v-model="newProps.name" class="form-control"></input></h3>
      <h3 v-else class="panel-title">
        {{ infoNode.data.name }}
        <a class="pull-right" v-on:click="$emit('toggle')"><i class="fa fa-chevron-right"></i></a>
      </h3>
    </div>
    <div class="panel-body">
      <!-- TODO: Move this functionality to extra module (might also be used to translate types to icons) -->
      <div v-if="editing">
        <div class="form-group">
          <select v-model="newProps.type" class="form-control">
            <option v-for="type in types" v-bind:value="type.value">
            {{ type.text }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <textarea type="text" v-model="newProps.description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-default form-control" v-on:click.stop="cancelEdit"><i class="fa fa-times"></i> Cancel</a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-primary form-control" v-on:click.stop="saveNode"><i class="fa fa-save"></i> Save</a>
            </div>
          </div>
        </div>
      </div>

      <div v-if="!editing">
        <h5>
          <i v-bind:class="nodeTypeClass"></i> {{ nodeType }}
        </h5>
        <p>{{ infoNode.data.properties.description }}</p>
        <div class="form-group">
          <a class="btn btn-default form-control" v-on:click.stop="editNode"><i class="fa fa-edit"></i> Edit</a>
        </div>
      </div>
      <ul class="list-group" v-if="patient && patientNodeInfo">
        <li class="list-group-item" v-bind:class="{'text-danger': neg, 'text-success': pos}"><i class="fa fa-dot-circle-o"></i> Result: {{ patientNodeInfo.result }} </li>
        <li class="list-group-item"><i class="fa fa-user-md"></i> Physician: {{ physicianName }} </li>
        <li class="list-group-item"><i class="fa fa-calendar"></i> Date: {{ medicalActionDate }} </li>
      </ul>
      <ul class="list-group" v-else>
        <li class="list-group-item" v-if="infoNode.data.properties.source"><i class="fa fa-book"></i> Source: {{infoNode.data.properties.source}}</li>
        <li class="list-group-item"v-if="infoNode.data.properties.prob">
          <i class="fa fa-percent"></i> Probability: {{ infoNode.data.properties.prob }}
        </li>
        <li class="list-group-item"><i class="fa fa-money"></i> Value: {{ infoNode.data.value }}</li>
        <li class="list-group-item"><i class="fa fa-level-up"></i> Level: {{ infoNode.data.level }}</li>
        <li class="list-group-item"><i class="fa fa-backward"></i> Previous Node: {{ infoNode.data.parent }}</li>
        <li class="list-group-item"><i class="fa fa-child"></i> Has Children: {{ infoNode.data.children.length ? 'Yes' : 'No'}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import TreeStore from 'stores/tree-store'
  import PatientStore from 'stores/patient-store'

  export default {
    name: 'infopanel',
    data: () => {
      return {
        editing: false,
        newProps: null,
        treeState: TreeStore.state,
        patientState: PatientStore.state,
        types: [{text: 'Symptom', value: 'symptom'},
          {text: 'Diagnosis', value: 'diagnosis'},
          {text: 'Therapy', value: 'therapy'},
          {text: 'Examination', value: 'examination'}],
      };
    },
    computed: {
      infoNode() {
        return this.treeState.infoNode;
      },
      patient() {
        return this.patientState.chosenPatient;
      },
      nodeType() {
        var type = this.infoNode.data.type;
        return type.replace(/^./, (char) => char.toUpperCase());
      },
      patientNodeInfo() {
        return this.patientState.patientNodeInfo;
      },
      physicianName() {
        var doctor = this.patientState.patientNodeInfo.physician;
        return doctor.lastname + ', ' + doctor.firstname;
      },
      medicalActionDate() {
        var date = new Date(Number(this.patientNodeInfo.timestamp));
        return date.toDateString();
      },
      pos() {
        if (this.patientNodeInfo) {
          var res = this.patientNodeInfo.result;
          return res === 'POSITIVE';
        }
        return false;
      },
      neg() {
        if (this.patientNodeInfo) {
          var res = this.patientNodeInfo.result;
          return res === 'NEGATIVE';
        }
        return false;
      },
      nodeTypeClass() {
        // if this turns out to be required in other modules, move to dictionary module
        var icon;
        var type = this.infoNode.data.type.toLowerCase();
        switch (type) {
          case 'diagnosis':
            icon = 'lightbulb-o';
            break;
          case 'therapy':
            icon = 'hospital-o';
            break;
          case 'symptom':
            icon = 'tint';
            break;
          case 'examination':
            icon = 'stethoscope';
            break;
          default:
            icon = 'question';
        }
        return 'fa fa-' + icon;
      },
    },
    methods: {
      editNode() {
        this.editing = true;
        this.newProps = {
          name: this.infoNode.data.name,
          type: this.infoNode.data.type,
          description: this.infoNode.data.properties.description,
          // nicht zu aendern, aber vom backend verlangt:
          id: this.infoNode.data.properties.id,
        };
        var root = this.infoNode.data.properties.root;
        if (root) { this.newProps.root = root; };
        this.newProps['titan-db-id'] = this.infoNode.data.properties['titan-db-id'];
      },
      cancelEdit() {
        this.editing = false;
        this.newProps = null;
      },
      saveNode() {
        this.editing = false;

        var nodeId = this.newProps.id;
        TreeStore.updateNode(nodeId, this.newProps);
      },
    },
  }
</script>
