<template>
<form onsubmit="login()" class="form-horizontal top-space">
  <div class="form-group">
    <label for="inputName" class="col-sm-4 control-label">Username</label>
    <div class="col-sm-4">
      <input v-model="username" type="text" class="form-control" id="inputName" placeholder="Your Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-4 control-label">Password</label>
    <div class="col-sm-4">
      <input v-model="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <button v-bind:disabled="buttonDisabled" v-on:click="login()" type="submit" class="btn btn-primary btn-big">Login</button>
    </div>
  </div>
  <div v-if="appState.state.loggingIn" class="col-sm-offset-4 col-sm-4">
    <spinner></spinner>
  </div>
</form>
</template>

<script>
  import AppState from 'stores/app-state-store'

  import Spinner from 'components/spinner'

  export default {
    name: 'login',
    components: {
      'spinner': Spinner,
    },
    data: () => {
      return {
        appState: AppState,
        username: '',
        password: '',
      }
    },
    computed: {
      buttonDisabled: function() {
        return !(this.username !== '' & this.password !== '' & !this.appState.state.loggingIn);
      },
      user: function() {
        return this.appState.state.user;
      },
    },
    beforeMount: function() {
      // Redirect for direct navigation to /login with existing user
      // watch does not work here
      if (this.user) {
        this.$router.push('/');
      }
    },
    watch: {
      user: function(newUser) {
        // watches change on user and redirects to main page (after login)
        this.$router.push('/');
      },
    },
    methods: {
      login() {
        if (this.username !== '' & this.password !== '') {
          this.appState.login(this.username, this.password);
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
.top-space {
  padding-top: 150px;
}
.btn-big {
  padding-left: 40px;
  padding-right: 40px;
}
</style>
