<template>
  <div>
    Hier wird einer neuer Patient erzeugt
  </div>
</template>

<script>
  import TreeStore from 'stores/tree-store'

  export default {
    name: 'patientcreator',
    components: {
    },
    data: () => {
      return {
        treeState: TreeStore.state,
      }
    },
    computed: {
    },
    methods: {
    },
    watch: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
