<template>
  <div class="spaced">
    <div class="col col-md-6">
      <selection-list v-if="patients" v-on:new="newPatient()" v-bind:newButton="false" v-bind:activeItem="selectedPatient"
        heading="Choose a Patient:" v-bind:items="patients" v-on:itemselected="patientSelected"></selection-list>
      <spinner v-else></spinner>
    </div>
    <div class="col col-md-6">
      <selection-list v-on:new="newTree()" v-if="trees" v-bind:newButton="true" v-bind:heading="treeListHeading" v-bind:items="trees" v-on:itemselected="treeSelected"></selection-list>
      <spinner v-else></spinner>
    </div>
  </div>
</template>

<script>
  import TreeStore from 'stores/tree-store'
  import PatientStore from 'stores/patient-store'
  import AppState from 'stores/app-state-store'

  import SelectionList from 'components/selection-list'
  import Spinner from 'components/spinner'

  export default {
    name: 'selection',
    components: {
      'spinner': Spinner,
      'selection-list': SelectionList,
    },
    data: () => {
      return {
        treeStore: TreeStore,
        patientStore: PatientStore,
        selectedPatient: null,
        selectedTree: null,
        appState: AppState,
      }
    },
    computed: {
      patients: function() {
        var patientsRaw = this.patientStore.state.patientsJson;
        if (!patientsRaw) { return null; }
        return patientsRaw.map(function(patient) {
          patient.name = patient.firstname + ' ' + patient.lastname;
          var date = new Date(Number(patient.dateOfBirth)).toDateString();
          var gender = patient.gender.toLowerCase();
          var id = patient.id;
          patient.description = 'id: ' + id + '  |  *' + date + '  |  ' + gender;
          return patient;
        });
      },
      tree: function() {
        return this.treeStore.state.tree;
      },
      treeListHeading: function() {
        if (this.selectedPatient) {
          return 'Trees with Data for this Patient:'
        }
        return 'Choose a Tree:';
      },
      trees: function() {
        var rawTrees;
        if (this.patientStore.state.chosenPatient) {
          rawTrees = this.treeStore.filterTrees(this.patientStore.state.patientTrees);
        } else {
          rawTrees = this.treeStore.state.trees;
        }
        if (!rawTrees) { return null; }
        return rawTrees;
      },
    },
    methods: {
      newTree() {
        // navigiere zu tree creator
        this.$router.push({ name: 'newTree' });
      },
      newPatient() {
        // navigiere zu patient creator
        this.$router.push({ name: 'newPatient' });
      },
      patientSelected: function(patient) {
        // deselect patient that is clicked twice
        if (this.selectedPatient === patient) {
          this.selectedPatient = null;
          this.patientStore.clearPatient();
          return;
        }
        this.selectedPatient = patient;
        if (patient.id) {
          this.patientStore.loadPatient(patient.id);
        }
      },
      treeSelected: function(tree) {
        this.selectedTree = tree;
        if (tree.graphDBId) {
          this.treeStore.loadTree(tree.graphDBId);
        }
      },
    },
    watch: {
      tree: function(newTree) {
        // if a tree was loaded we redirect to tree view
        var id = this.treeStore.state.treeId;
        var patient = this.patientStore.state.chosenPatient;
        if (!newTree || !id) {
          this.appState.setMessage('Error: Tree was not loaded completely.', true);
          return;
        }
        // If a Patient was selected
        if (patient) {
          this.$router.push({ name: 'patient', params: { treeId: id, patientId: patient.id } });
          return;
        }
        // Only a tree selected
        this.$router.push({ name: 'tree', params: { treeId: id } });
      },
    },
    beforeMount: function() {
      // Redirect to Login Screen if there is no user
      if (!this.appState.state.user) {
        // replace because we want a redirect
        this.$router.replace('/');
      }
      this.patientStore.loadPatients();
      this.treeStore.loadTrees();
    },
  }
</script>
<style lang="scss" scoped>
.spaced {
  padding-top: 70px;
}
</style>
