<template>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h4>
        <span class="heading-text">{{heading}}</span>
        <a v-if="newButton" v-on:click="newElement" class="btn btn-success" style="float: right; line-height: 1.5em;"><i class="fa fa-lg fa-plus"></i> New</a>
      </h4>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input v-model="searchText" class="form-control" type="text" placeholder="Search...">
      </div>
      <div class="list-group">
        <a v-for="item in displayItems" v-on:click.prevent="itemSelected(item)" href="#" class="list-group-item" v-bind:class="{ active: item === activeItem }">
          <h4 class="list-group-item-heading">{{item.name}}</h4>
          <p class="list-group-item-text">{{item.description}}</p>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'selection-list',
    props: {
      newButton: Boolean,
      heading: String,
      activeItem: {
        type: Object,
        default: null,
      },
      items: Array,
    },
    data: () => {
      return {
        searchText: null,
      }
    },
    methods: {
      itemSelected: function(item) {
        this.$emit('itemselected', item);
      },
      newElement() {
        this.$emit('new');
      },
    },
    computed: {
      displayItems: function() {
        var search = this.searchText;
        if (!search || search.length < 3) { return this.items; };
        search = search.toLowerCase();
        var filtered = this.items.filter(function(item) {
          return item.name.toLowerCase().includes(search) || item.description.toLowerCase().includes(search);
        });
        return filtered;
      },
    },
    watch: {
    },
  }
</script>
<style lang="scss" scoped>
.heading-text {
  line-height: 35px;
}
</style>
