<template>
  <div>
    <i class="fa fa-refresh fa-spin fa-fw fa-5x spinner"></i>
  </div>
</template>
<script>
  export default {
    name: 'spinner',
    props: {
    },
    data: () => {
      return {
      }
    },
  }
</script>
<style lang="scss" scoped>
.spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: lightgrey;
}
</style>
