<template>
  <div class="d3-tree-visual">
    <div class="svg-container" :class="svgColSize">
      <circlepanelmanager></circlepanelmanager>
      <spinner v-if="!tree"></spinner>
      <svg class="tree" v-bind:class="{ 'patient': isPatientChosen, 'no-patient': !isPatientChosen }" :width="svgWidth" height="500"></svg>
      <button class="btn btn-default infopanel-toggler" v-if="infopanelCollapsed" v-on:click="toggleInfopanel()">
        <i class="fa fa-chevron-left"></i>
      </button>
    </div>

    <div v-if="!infopanelCollapsed" class="col-md-3">
      <infopanel v-on:toggle="toggleInfopanel"></infopanel>
    </div>
  </div>
</template>

<script>
  import AppState from 'stores/app-state-store'
  import TreeStore from 'stores/tree-store'
  import PatientStore from 'stores/patient-store'

  import CirclepanelManager from 'components/circle-panel-manager'
  import Infopanel from 'components/infopanel'
  import Spinner from 'components/spinner'

  export default {
    name: 'treemanager',
    components: {
      'spinner': Spinner,
      'circlepanelmanager': CirclepanelManager,
      'infopanel': Infopanel,
    },
    data: () => {
      return {
        treeState: TreeStore.state,
        patientState: PatientStore.state,
        appState: AppState.state,
        svgWidth: 960,
        infopanelCollapsed: false,
      }
    },
    mounted: function() {
      this.checkURL();
      // constructs tree with appropriate size
      this.resizeTree();

      $(window).on('resize', _.debounce(this.resizeTree, 500).bind(this));
    },
    beforeDestroy: function() {
      PatientStore.clearPatient();
      TreeStore.clearTree();
    },
    computed: {
      patient: function() {
        return this.patientState.chosenPatient;
      },
      tree: function() {
        var json = this.treeState.tree;
        if (!json) { return null; }
        return json;
      },
      isPatientChosen: function() {
        return !!this.patientState.chosenPatient;
      },
      svgColSize: function() {
        return this.infopanelCollapsed ? 'col-md-12' : 'col-md-9';
      },
      infoColSize: function() {
        return this.infopanelCollapsed ? 'col-md-12' : 'col-md-9';
      },
    },
    watch: {
      '$route': function(to, from) {
        this.checkURL();
      },
      tree: function(newTree) {
        this.constructD3Tree();
        this.calculateNodeInfos();
      },
      patient: function(newPatient) {
        this.calculateNodeInfos();
      },
    },
    methods: {
      toggleInfopanel() {
        this.infopanelCollapsed = !this.infopanelCollapsed;
        this.$nextTick(() => {
          this.resizeTree();
        });
      },
      resizeTree() {
        var svgContainer = $('.svg-container', this.$el);
        this.svgWidth = svgContainer.width();

        this.$nextTick(() => {
          this.constructD3Tree();
          this.calculateNodeInfos();
        });
      },
      calculateNodeInfos: function() {
        // an array of objects containing the names of the med actions with results
        var patient = this.patientState.chosenPatient;
        var treeId = this.treeState.treeId;
        var nodeInfos = {};
        if (patient && treeId) {
          patient.medicalActions.forEach(function(action) {
            // POSITIVE = true, NEGATIVE = false
            var resultVal = action.state === 'POSITIVE';
            nodeInfos[action.action.name] = {
              medicalActionPositive: resultVal,
            };
          });
        }
        TreeStore.setNodeInfos(nodeInfos);
        return nodeInfos;
      },
      constructD3Tree() {
        if (!this.tree) { return; }
        var treeConstructor = require('src/tree');
        var D3tree = treeConstructor('.tree', this.tree);
        TreeStore.setD3Tree(D3tree);
      },
      checkURL: function() {
        var treeId = this.treeState.treeId;
        var loadedTree = this.treeState.tree;
        // check if URL contains patient
        if (this.$route.params.patientId) {
          // check if patient data needs to be loaded (no or wrong patient set)
          if ((!this.patientState.chosenPatient) || (this.patientState.chosenPatient.id !== this.$route.params.patientId)) {
            PatientStore.loadPatient(this.$route.params.patientId);
          }
        }
        // check if  tree is set and if tree does fit url
        if (loadedTree && treeId === this.$route.params.treeId) { return; };
        // if no or wrong tree > load Tree
        TreeStore.loadTree(this.$route.params.treeId);
      },
    },
  }
</script>

<style lang="scss">
  .d3-tree-visual {
    @import "~assets/tree";
  }
  .infopanel-toggler {
    position: absolute;
    top: 15px;
    right: 20px;
  }
</style>
