<template>
  <div>
    <div class="row">
      <h2>Create a new Tree</h2>
      <p>
        You can either create an entirely new tree and then add nodes to it.
        Or you can create a copy of an existing tree to adapt it to your needs.
      </p>
    </div>
    <div v-if="!creating" class="row">
      <div class="col-md-6">
        <h2>Create a new empty Tree</h2>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" v-model="newTreeData.name"></input>
        </div>
        <div class="form-group">
          <a v-on:click="newTree" class="btn btn-success form-control"> <i class="fa fa-lg fa-plus"></i> New Tree </a>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Create a Copy of an existing Tree</h2>
        <div class="form-group">
          <label>Name of Copy:</label>
          <input type="text" class="form-control" v-model="copyTreeData.name"></input>
        </div>
        <div class="form-group">
          <a v-on:click="copyTree" class="btn btn-success form-control"> <i class="fa fa-lg fa-copy"></i> Copy Tree </a>
        </div>
        <selection-list v-if="trees" v-bind:heading="treeListHeading" v-bind:items="trees" v-bind:activeItem="selectedTree" v-on:itemselected="treeSelected">
        </selection-list>
      </div>
    </div>
    <spinner v-if="creating"></spinner>
  </div>
</template>

<script>
  import TreeStore from 'stores/tree-store'
  import AppState from 'stores/app-state-store'

  import SelectionList from 'components/selection-list'
  import Spinner from 'components/spinner'

  export default {
    name: 'treecreator',
    components: {
      'selection-list': SelectionList,
      'spinner': Spinner,
    },
    data: () => {
      return {
        appState: AppState,
        treeState: TreeStore.state,
        selectedTree: null,
        newTreeData: { name: '' },
        copyTreeData: { id: null, name: '' },
        creating: false,
      }
    },
    computed: {
      trees() {
        return this.treeState.trees;
      },
      treeListHeading: function() {
        return 'Choose a Tree you want to Copy:';
      },
    },
    mounted() {
      // Check if Tree List is loaded and if not load it
      if (this.treeState.trees) return;
      TreeStore.loadTrees();
    },
    methods: {
      treeSelected(tree) {
        if (!tree) return;
        if (tree === this.selectedTree) {
          this.selectedTree = null;
          this.copyTreeData.name = '';
          return;
        }
        this.selectedTree = tree;
        var treeId = tree.graphDBId;
        if (treeId) {
          this.copyTreeData.id = treeId;
          var newName = tree.name + '_copy';
          this.copyTreeData.name = newName;
        }
      },
      copyTree() {
        if (!this.copyTreeData.name || !this.copyTreeData.id) return;
        this.creating = true;
        TreeStore.copyTree(this.copyTreeData.id, this.copyTreeData.name)
        .then((newId) => {
          // successfully loaded new Tree
          // redirect to Tree View
          this.creating = false;
          this.$router.push({ name: 'tree', params: { treeId: newId } });
        })
        .catch((err) => {
          this.creating = false;
          var message = 'Could not copy Tree: ' + err.toString();
          this.appState.setMessage(message, true);
        });
      },
      newTree() {
        if (!this.newTreeData || !this.newTreeData.name) return;
        this.creating = true;
        TreeStore.newTree(this.newTreeData)
        .then((newId) => {
          // successfully loaded new Tree
          // redirect to Tree View
          this.creating = false;
          // funktioniert momentan nicht, weil man nicht an die neue ID rankommt
          this.$router.push({ name: 'tree', params: { treeId: newId } });
        })
        .catch((err) => {
          this.creating = false;
          var message = 'Could not create Tree: ' + err.toString();
          this.appState.setMessage(message, true);
        });
      },
    },
    watch: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
