@import "variables";

.node circle {
  stroke-width: 2px;
  r: 8;
  transition: r 0.2s;
}

.diagnosis circle {
  fill: $node-one;
  stroke: $node-one-light;
}

.therapy circle {
  fill: $node-two;
  stroke: $node-two-light;
}

.symptom circle {
  fill: $node-three;
  stroke: $node-three-light;
}

.examination circle {
  fill: $node-four;
  stroke: $node-four-light;
}

.patient .no-action circle {
  fill: $node-one;
}

.node-text {
  font: 12px sans-serif;
  fill: $content-color;
}

text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
}

.patient .action-pos circle {
  fill: $highlight-color;
  stroke: $highlight-color-light;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.patient .action-neg circle {
  fill: $content-color-light;
  stroke: $content-color;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.selected-neighbor circle {
  r: 12;
  stroke-width: 5px;
  transition: r 0.3s;
}

.selected-neighbor.node--internal text {
  transform: translate(-4px, 0);
  transition: transform 0.3s;
}

.selected-neighbor.node--left text {
  transform: translate(4px, 0);
  transition: transform 0.3s;
}

.selected-twin circle {
  r: 12;
  stroke-width: 5px;
  transition: r 0.3s;
}

.selected-twin.node--internal text {
  transform: translate(-4px, 0);
  transition: transform 0.3s;
}

.selected-twin.node--left text {
  transform: translate(4px, 0);
  transition: transform 0.3s;
}

.selected circle {
  r: 17;
  transition: r 0.3s;
}

.selected.node--internal text {
  transform: translate(-9px, 0);
  transition: transform 0.3s;
}

.selected.node--left text {
  transform: translate(9px, 0);
  transition: transform 0.3s;
}

.node-text:hover {
  text-shadow: 0 1px 0 $highlight-color, 0 -1px 0 $highlight-color, 1px 0 0 $highlight-color, -1px 0 0 $highlight-color;
  fill: black;
  font-size: 14px;
}

.hidden {
  visibility: none;
}

.link {
  fill: none;
  stroke: $content-color-light;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.triangle {
  fill: $content-color-light;
  stroke: none;
  display: none;
}

.hidden-children .triangle {
  display: block;
}

.selected-twin .triangle {
  transform: translate(16px, 0) rotate(210deg);
  transition: transform 0.3s;
}

.selected-neighbor .triangle {
  transform: translate(16px, 0) rotate(210deg);
  transition: transform 0.3s;
}

.selected .triangle {
  transform: translate(21px, 0) rotate(210deg);
  transition: transform 0.3s;
}

