$highlight-color: #6FFF0D;
$highlight-color-light: #6FFF0D;
$content-color: #383838;
$content-color-light: lighten($content-color, 40%);

$node-one: #8eccff;
$node-two: #91a5ff;
$node-three: #c07aff;
$node-four: #ff70fe;
$node-one-light: lighten($node-one, 10%);
$node-two-light: lighten($node-two, 10%);
$node-three-light: lighten($node-three, 10%);
$node-four-light: lighten($node-four, 10%);
